<ion-header>
  <ion-navbar>
    <ion-title>
      Médicos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="container-grey">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-card padding *ngFor="let	medico of medicos">
    
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/default-avatar.png">
      </ion-avatar>
      <h2 class="title">{{medico.nome}} {{medico.sobrenome}}</h2>
      <p>CRM: {{medico.crm}}</p>
    </ion-item>
    <ion-row>
      <ion-col>
        <p class="title">Especialidades:</p> 
        <a *ngFor="let especialidade of medico.especialidades"> {{especialidade.nome}}<br></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let	clinica of medico.clinicas">
        <ion-icon name="pin"></ion-icon>  {{clinica.rua}}, {{clinica.numero}} - {{clinica.cidade}}/{{clinica.estado}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="title" >Telefone: {{medico.telefone1}} | {{medico.telefone2}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="title">Convênios:</p> 
        <a *ngFor="let convenio of medico.convenios"> {{convenio.nome}}<br></a>
      </ion-col>
    </ion-row>
    <button ion-button full class="card-button" (click)="visualizaMedico(medico)">Visualizar</button>  
    
  </ion-card>  
</ion-content>
