page-cadastro {

    .register-buttons{
        margin-top:50%;
    }

    .register-buttons h3{
        text-align: center;
    }

    .register-btn{
        margin-bottom: 15px;
        display: inline-block;
        background: #FFF;
        color: #00c3a5;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: bold;
        height: 50px;
        border: 2px solid #00c3a5;
    }

}
