page-cadastro {

    .register-btn{
        margin-bottom: 15px;
        display: inline-block;
        background: #039be5;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: bold;
        height: 50px;
        border: 2px solid #fff;
    }

    .register-btn.activated{
        background: #fff;
        color: #039be5;
        border: 2px solid #fff;
    }


}
