page-visualiza-medico {
  #map {
      width: 100%;
      height: 400px;
  }
  .pinMedColor{
    color: #00c3a5;
    font-weight: bolder;
  }

  .ion-tags-input .iti-tag {
    font-size: 1.0rem;
    font-weight: bold;
  }

  .ion-tags-input .iti-tag-color {
    background-color: #00c3a5;
    color: #fff;
  }
}

