<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="container-grey">
  
  <ion-card padding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/default-avatar.png">
      </ion-avatar>
      <h2 class="title">{{medico.nome}} {{medico.sobrenome}}</h2>
      <p>CRM: {{medico.crm}}</p>
    </ion-item>
    <hr>
    <ion-row>
      <ion-col>
        <p class="title">Especialidades:</p> 
        <a *ngFor="let especialidade of medico.especialidades"> {{especialidade.nome}}</a>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col *ngFor="let	clinica of medico.clinicas">
        <ion-icon name="pin"></ion-icon>  {{clinica.rua}}, {{clinica.numero}} - {{clinica.cidade}}/{{clinica.estado}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="title" >Telefone: {{medico.telefone1}} | {{medico.telefone2}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="title">Convênios:</p> 
        <a *ngFor="let convenio of medico.convenios"> {{convenio.nome}}<br></a>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>
        <p class="title">Avaliação dos pacientes: </p>
        <h2> 
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </h2> 
      </ion-col>
    </ion-row>
    <ion-row *ngIf="permissao == 2">
      <button ion-button full class="card-button" (click)="avaliarMedico(medico)">Avaliar consulta</button>  
    </ion-row>
  </ion-card>
  <ion-card padding>    
    <ion-row>
      <ion-col>
        <h3 class="title">Experiência Profissional:</h3>
        <hr>
        <p>{{medico.experienciaProfissional}}</p>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-card padding>    
    <ion-row>
      <ion-col>
        <h3 class="title">Formação Acadêmica:</h3>
        <hr>
        <p>{{medico.formacaoAcademica}}</p>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-card padding>    
    <ion-row>
      <ion-col>
        <h5>Nome do usuário:</h5>
        <p>Comentário do usuário:</p>
        <hr>
      </ion-col>
    </ion-row>
  </ion-card>
  
<ion-card padding>    
    <ion-row>
      <ion-col>
        <h5>Localização:</h5>
        <hr>
        <div #map id="map"></div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>


