<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="container-grey">
  
  <ion-card padding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/default-avatar.png">
      </ion-avatar>
      <h2 class="title">{{medico.nome}} {{medico.sobrenome}}</h2>
      <p>CRM: {{medico.crm}}</p>
    </ion-item>
    <hr>
    <ion-row>
      <ion-col>
        <p class="title">Especialidades:</p> 
        <a *ngFor="let especialidade of medico.especialidades"> {{especialidade.nome}}</a>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col *ngFor="let	clinica of medico.clinicas">
        <p class="title">Endereço: </p>
        <ion-icon name="pin"></ion-icon>  {{clinica.rua}}, {{clinica.numero}} - {{clinica.cidade}}/{{clinica.estado}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="title">Telefone: </p><a> {{medico.telefone1}} | {{medico.telefone2}}</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="title">Convênios:</p> 
        <a *ngFor="let convenio of medico.convenios"> {{convenio.nome}}<br></a>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>
        <p class="title" >Avaliação dos pacientes:</p>
        <ionic3-star-rating #rating
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#FFDF00"
          defaultColor = "#A0A0A0"
          readonly="true"
          [rating]=media
          fontSize = "32px">
        </ionic3-star-rating>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="permissao == 2">
      <button ion-button full class="card-button" (click)="avaliarMedico(medico)">Avaliar consulta</button>  
    </ion-row>
  </ion-card>
  <ion-card padding *ngIf="medico.experienciaProfissional">    
    <ion-row>
      <ion-col>
        <h3 class="title">Experiência Profissional:</h3>
        <hr>
        <p>{{medico.experienciaProfissional}}</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card padding *ngIf="medico.formacaoAcademica">    
    <ion-row>
      <ion-col>
        <h3 class="title">Formação Acadêmica:</h3>
        <hr>
        <p>{{medico.formacaoAcademica}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card padding *ngIf="avaliacoesAprovadas?.length > 0;else semAvaliacoes">
    <h3 class="title">Opiniões dos pacientes:</h3>
    <hr>
    <ion-list>
      <ion-item *ngFor="let avaliacao of avaliacoesAprovadas">
        <ion-avatar item-start>
          <img src="assets/imgs/default-avatar.png">
        </ion-avatar>
        <h2>{{avaliacao.paciente.nome}} {{avaliacao.paciente.sobrenome}}</h2>
        <h4 displayFormat="DD MM, YYYY HH:mm">{{avaliacao.descricao}}</h4>
        <ionic3-star-rating #rating
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#FFDF00"
          defaultColor = "#A0A0A0"
          readonly="true"
          [rating]=avaliacao.pergunta1
          fontSize = "18px">
        </ionic3-star-rating>
        <p text-wrap>{{avaliacao.comentario}}</p>
        <hr>
        <p class="title">Pontos fortes:</p> 
        <ion-tags-input
          [(ngModel)]=avaliacao.avaliacao
          [readonly]="true">
        </ion-tags-input>
      </ion-item>
    </ion-list>
  </ion-card>
  <ng-template #semAvaliacoes>
      <ion-card padding>    
        <ion-row>
          <ion-col>
            <h3 class="title">Opiniões dos pacientes:</h3>
            <hr>
            <p>Este médico(a) ainda não possui avaliações.</p>
          </ion-col>
        </ion-row>
      </ion-card>
  </ng-template>

  <ion-card padding>    
    <ion-row>
      <ion-col>
        <h5 class="title">Localização:</h5>
        <hr>
        <button ion-button full class="card-button" (click)="goToMaps()">Traçar rota</button>  
        <div #map id="map"></div>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab right bottom edge class="fab-options">
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goToMaps()"><ion-icon name="map"></ion-icon></button>
      <button ion-fab (click)="avaliarMedico(medico)"><ion-icon name="star-half"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


