page-home {
    .home_fab {
        margin-bottom: 50px;
    }

    .title-home{
        margin-top:50px;
        font-weight:bold;
        font-family: roboto;
    }

    .searchbar{
        margin-top:50px;
    }

}
