// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.container-azul{
    background-image: linear-gradient(to right top, #039be5, #00a9e2, #00b4d4, #00bcbe, #00c3a5);
    color:white;
}

.container-grey{
    background-color: #efefef;
}

.title{
    font-weight: bold;
}

.title-app{
    font-family: 'Pacifico';
    font-size: 60px;
    text-align: -webkit-center;
}

.card-button {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: #00c3a5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    height: 45px;
    border-radius: 3px;
}
.card-button.activated {
    background-color: #00c3a5
}

.toolbar-title-md{
    color: #fff;
}

.toolbar-background-md{
    background-image: linear-gradient(to right top, #039be5, #00a9e2, #00b4d4, #00bcbe, #00c3a5);
}

.bar-button-default-md{
    color: #fff;
}

.tab-button{
    color: white;
}

.tabbar{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 1px solid #FAFAFA;
    background-color: #00c3a5;
}