page-intro {
    .intro-icon-azul{
        color: #039be5;
        font-size: 80px;
    }

    .intro-icon-branco{
        color: #fff;
        font-size: 80px;
    }

    .slide_image img {
        width: 240px;
    }
}
